<div class="customer-container">
  <nav class="navbar">
    <div class="navbar-left">
      <a routerLink="products" routerLinkActive="active">商品</a>
      <a routerLink="orders" routerLinkActive="active">訂單</a>
    </div>
    <div class="navbar-right">
      <button (click)="logout()">Logout</button>
    </div>
  </nav>

  <div class="content">
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
    <div class="cart-placeholder" *ngIf="showCart">
      <p>TODO:Shopping cart will be here</p>
    </div>
  </div>
</div>
