.customer-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px; /* 增加 padding 以增大 navbar 高度 */
  background-color: #333;
  color: white;
  font-size: 18px; /* 增大字体大小 */
}

.navbar-left a {
  margin-right: 50px; /* 增大导航链接间的间距 */
  color: white;
  text-decoration: none;
  font-size: 30px; /* 增大字体大小 */
}

.navbar-right button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 12px 20px; /* 增大按钮大小 */
  cursor: pointer;
  border-radius: 5px;
  font-size: 18px; /* 增大按钮字体 */
}

.content {
  display: flex;
  flex-grow: 1;
}

.main-content {
  flex: 3; /* 左侧 3/4 的空间 */
  padding: 20px;
  font-size: 20px; /* 增大主内容区域的字体大小 */
}

.cart-placeholder {
  flex: 1; /* 右侧 1/4 的空间 */
  padding: 20px;
  background-color: #f4f4f4;
  text-align: center;
  font-size: 18px; /* 增大购物车区域的字体大小 */
}
