/* header.component.css */
.header-container {
  background-color: #96c9ff;
  color: white;
  text-align: center;
  padding: 20px 0;
  font-family: 'Roboto', Arial, sans-serif; /* Updated font-family */
}

h1 {
  margin: 0;
  font-size: 2.5rem;
}
