.entry-container {
  position: relative;
  height: 100vh;
  background-image: url('/assets/images/entry_background.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

}

.background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.button-container {
  position: absolute;
  bottom: 25%; /* 距離底部 25% */
  left: 50%; /* 水平居中 */
  transform: translateX(-50%); /* 修正水平居中偏移 */
  z-index: 3; /* 確保按鈕顯示在疊加層上方 */
}

/* 按鈕樣式 */
.entry-button {
  position: relative;
  z-index: 2;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  font-size: 1.5rem;
  border-radius: 50px;
  padding: 10px 30px;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.entry-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* 粒子效果 */
/*.particle {*/
/*  position: absolute;*/
/*  width: 5px;*/
/*  height: 5px;*/
/*  background-color: #f65555;*/
/*  border-radius: 50%;*/
/*  animation: particle-float 1s linear forwards;*/
/*  z-index: 9999;*/
/*}*/

@keyframes particle-float {
  0% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  100% {
    opacity: 0;
    transform: translateY(-100px) scale(0.5);
  }
}

/* 濂波效果 */
/*.ripple {*/
/*  position: absolute;*/
/*  width: 10px;*/
/*  height: 10px;*/
/*  border-radius: 50%;*/
/*  background-color: rgba(255, 255, 255, 0.5);*/
/*  transform: scale(0);*/
/*  animation: ripple-expand 1s ease-out forwards;*/
/*  z-index: 9999;*/
/*}*/


@keyframes ripple-expand {
  0% {
    opacity: 1;
    transform: scale(0);
  }
  100% {
    opacity: 0;
    transform: scale(20);
  }
}
