.store-order-summary-container {
  border: 1px solid #ddd;
  padding: 10px;
  margin-top: 10px;
  background-color: #f1f1f1;
}

.store-order-summary-container p {
  margin: 5px 0;
  font-size: 14px;
  color: #333;
}

.store-order-summary-container .expanded {
  background-color: #e9ecef;
}
