<div class="guest-view-detail">
  <img [src]="product.imageUrl" alt="{{ product.name }}" class="detail-image" />
  <h2>{{ product.name }}</h2>
  <p>{{ product.description }}</p>

  <div *ngIf="product.productVariants && product.productVariants.length > 0; else errorTemplate" class="variant-selection">
    <label for="variant">選擇款式:</label>
    <select id="variant" (change)="onVariantChange($event)">
      <option *ngFor="let variant of product.productVariants" [value]="variant.productVariantId">
        {{ variant.color }} - {{ variant.size }} - {{ variant.price }}元
      </option>
    </select>
  </div>

  <ng-template #errorTemplate>
    <p class="error-message">Product detail loading failed.</p>
  </ng-template>


  <div class="price" *ngIf="selectedVariant">
    價格: {{ selectedVariant.price }}元
  </div>

  <button (click)="addToCart()">加入購物車</button>
</div>
