/* product-card.component.css */
.product-list {
  padding: 20px;
}

.product-card {
  max-width: 300px; /* Limit the maximum width of each card */
  width: 100%; /* Ensure the card takes full width within the grid item */
}

.product-image {
  width: 250px;
  height: 200px;
  object-fit: cover;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 1100; /* 確保在彈窗內容之上 */
}

/*!* 设置卡片的基本样式 *!*/
/*.product-card {*/
/*  background-color: #f9f9f9;*/
/*  border: 1px solid #ddd;*/
/*  border-radius: 10px;*/
/*  padding: 30px;*/
/*  text-align: center;*/
/*  cursor: pointer;*/
/*  flex-direction: column;*/
/*  justify-content: space-between;*/
/*  transition: box-shadow 0.3s ease;*/
/*  height: 90%;*/
/*}*/
/*!* 卡片内的标题 *!*/
/*.product-card h2 {*/
/*  font-size: 1.2em;*/
/*  margin: 10px 0;*/
/*  min-height: 50px; !* 确保标题区域高度一致 *!*/
/*  display: -webkit-box;*/
/*  -webkit-line-clamp: 2; !* 限制标题显示两行 *!*/
/*  -webkit-box-orient: vertical;*/
/*  overflow: hidden;*/
/*  text-overflow: ellipsis;*/
/*  white-space: normal; !* 确保换行 *!*/
/*}*/

/*.product-card:hover {*/
/*  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);*/
/*}*/

/* 弹窗背景 */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* 弹窗内容 */
.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1001;
  text-align: center;
}

/* 关闭按钮 */
.close-button {
  position: absolute;
  top: 10px;
  right: 20px;
  background: none;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
}

/* 图片样式 */
.detail-image {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

/* 价格样式 */
.price {
  font-size: 1.2em;
  vertical-align: bottom;
  margin-top: auto;
}

/* 按钮样式 */
button {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

button:hover {
  background-color: #0056b3;
}

/*.product-image {*/
/*  width: 150px;*/
/*  height: 150px;*/
/*  object-fit: cover; !* 保持图片的纵横比并裁剪以适应容器 *!*/
/*}*/

.limited-size {
  max-width: 100%;
  max-height: 200px;
  object-fit: cover;
}

mat-card-title {
  padding-left: 20px; /* Adjust the value as needed */
}

mat-card-content {
  padding: 20px; /* Adjust the value as needed */
}

mat-grid-list {
  /*background-color: #a1a1a1;*/
}

mat-card{
  background-color: #d5d5d5;
}

mat-list-item {
  padding: 10px 20px; /* Adjust padding as needed */
  font-size: 16px; /* Adjust font size as needed */
  cursor: pointer; /* Change cursor to pointer for better UX */
}

mat-list-item:hover {
  background-color: #f0f0f0; /* Change background color on hover */
}

mat-list-item.selected {
  background-color: #d0d0d0; /* Change background color for selected item */
  font-weight: bold; /* Make the text bold for selected item */
}

mat-card.selected {
  border: 2px solid #007bff; /* Highlight the selected card */
}

.sort-by {
  padding: 5px;
  font-size: 10px;
  font-weight: bold;
}
