<div class="admin-container">
  <nav class="navbar">
    <div class="navbar-left">
      <a routerLink="user-management" routerLinkActive="active">User Management</a>
      <a routerLink="product-management" routerLinkActive="active">ProductModel Management</a>
      <a routerLink="transaction-records" routerLinkActive="active">Transaction Records</a>
    </div>
    <div class="navbar-right">
      <button (click)="logout()">Logout</button>
    </div>
  </nav>

  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
