<div class="admin-container">
  <nav class="navbar">
    <div class="navbar-left">
      <a routerLink="user-management" routerLinkActive="active">管理用戶</a>
      <a routerLink="product-management" routerLinkActive="active">商品管理</a>
      <a routerLink="transaction-records" routerLinkActive="active">交易管理</a>
      <a routerLink="user-log" routerLinkActive="active">用戶日誌</a>
      <a routerLink="discount" routerLinkActive="active">優惠券</a>
      <a routerLink="ledger" routerLinkActive="active">帳戶明細</a>
      <a routerLink="refunds"  [queryParams]="{ user_type: 'admin' }">退款列表</a>
    </div>
    <div class="navbar-right">
      <button appEditUserInfo>編輯個人資訊</button>
      <button (click)="logout()">Logout</button>
    </div>
  </nav>

  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
