<table>
  <thead>
  <tr>
    <th>Status</th>
    <th>Total Amount</th>
    <th>Order Date</th>
    <th>Seller</th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let order of orders; let i = index">
    <tr (click)="toggleDetails(i)">
      <td>{{ order.status }}</td>
      <td>{{ order.totalAmount | currency }}</td>
      <td>{{ order.orderDate }}</td>
      <td>{{ order.seller }}</td>
    </tr>
    <tr *ngIf="toggledOrderIndex === i">
      <td colspan="4">
        <div class="order-details">
          <div *ngFor="let detail of order.details">
            {{ detail.productName }} ({{ detail.quantity }}) - {{ detail.price | currency }}
          </div>
        </div>
      </td>
    </tr>
  </ng-container>
  </tbody>
</table>
