<h2 mat-dialog-title>User Profile</h2>
<form [formGroup]="editProfileForm" (ngSubmit)="onSave()">
  <mat-dialog-content class="dialog-content">
    <div class="portrait-container">
      <img [src]="profilePicUrl" alt="User Portrait" class="portrait">
      <input type="file" (change)="onFileSelected($event)" class="file-input">
    </div>
    <div class="info-container">
      <p><strong>Username:</strong> {{data.username}}</p>
      <div class="editable-field">
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" type="email" required>
        </mat-form-field>
      </div>
      <div class="editable-field">
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" type="password" required>
        </mat-form-field>
      </div>
      <div class="editable-field">
        <mat-form-field appearance="fill">
          <mat-label>Phone Number</mat-label>
          <input matInput formControlName="phoneNumber" type="text" required>
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions class="actions-right">
    <button mat-button type="button" (click)="onClose()">Cancel</button>
    <button mat-button color="primary" type="submit" [disabled]="!editProfileForm.valid">Save</button>
  </mat-dialog-actions>
</form>
