<mat-card class="modal-content">
  <mat-card-header>
    <mat-icon class="close-button" (click)="close()">close</mat-icon>
  </mat-card-header>

  <mat-card-content>
    <img mat-card-image [src]="data?.imageUrl" alt="{{ data?.name }}" class="detail-image" (error)="onImageError($event)"/>
    <h2 mat-card-title>{{ data?.name }}</h2>
    <p mat-card-subtitle>{{ data?.description }}</p>

    <div *ngIf="data?.productVariants?.length > 0; else errorTemplate" class="variant-selection">
      <mat-form-field appearance="fill">
        <mat-label>選擇款式</mat-label>
        <mat-select (selectionChange)="onVariantChange($event)">
          <mat-option *ngFor="let variant of data.productVariants" [value]="variant.productVariantId">
            {{ variant.color }} - {{ variant.size }} - {{ variant.price }}元
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <ng-template #errorTemplate>
      <p class="error-message">商品資訊載入失敗。</p>
    </ng-template>

    <div class="price" *ngIf="selectedVariant">
      <p>價格: {{ selectedVariant.price }}元</p>
    </div>

  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="addToCart()">加入購物車</button>
  </mat-card-actions>

  <!-- 評論部分開始 -->
  <div class="reviews-section" *ngIf="reviews.length > 0">
    <h3>商品評價</h3>
    <div *ngFor="let review of reviews" class="review-item">
      <p class="review-name"><strong>{{ review.customerName }}</strong></p>
      <div class="review-header">
        <div class="review-stars">
          <mat-icon *ngFor="let star of [1, 2, 3, 4, 5]" [ngClass]="{'filled': star <= review.rating}">
            star
          </mat-icon>
        </div>
        <p class="review-date">{{ review.reviewDate | date:'yyyy-MM-dd HH:mm'}}</p>
      </div>
      <p class="review-comment">{{ review.comment }}</p>
    </div>
    <div class="pagination">
      <button mat-button (click)="prevPage()" [disabled]="currentPage === 1">上一頁</button>
      <button mat-button (click)="nextPage()" [disabled]="noMoreReviews">下一頁</button>
    </div>
  </div>
  <div *ngIf="reviews.length === 0">
    <p>尚無評論。</p>
  </div>
  <!-- 評論部分結束 -->
</mat-card>
