<mat-drawer-container>
  <mat-drawer mode="side" opened style="width: 150px">
    <h3>商品分類</h3>
    <mat-list>
      <mat-list-item *ngFor="let category of categories" (click)="onCategorySelect(category.value)" [class.selected]="category.viewValue === selectedCategory">
        {{ category.viewValue }}
      </mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <div class="main-container">
      <div class="products-container">
        <form class="search-container" (ngSubmit)="onSearch()">
          <div class="sort-by">
            <mat-form-field appearance="fill" >
              <ng-container *ngIf=" selectedCategory == 'All'">
                <mat-label>Sort By</mat-label>
                <mat-select [(value)]="selectedSortOption ">
                  <mat-option *ngFor="let option of sortOptions" [value]="option.value">
                    {{ option.viewValue }}
                  </mat-option>
                </mat-select>
              </ng-container>
              <ng-container *ngIf=" selectedCategory !== 'All'">
                <div> Sort By 目前只在 "全部" 類別下可以使用</div>
              </ng-container>
            </mat-form-field>
          </div>
          <mat-form-field appearance="fill" style="width: 50%;">
            <mat-label>搜尋商品</mat-label>
            <input matInput [(ngModel)]="searchKeyword" name="searchKeyword" placeholder="輸入商品名稱" />
          </mat-form-field>
          <button mat-raised-button color="primary" type="submit">搜尋</button>
        </form>
        <mat-grid-list cols="6" gutterSize="10px">
          <mat-grid-tile *ngFor="let product of products" rowspan="2">
            <mat-card (click)="onLoadDetail(product)">
              <img mat-card-image [src]="product.imageUrl" alt="{{ product.name }}" class = "product-image" (error)="onImageError($event)"/>
              <mat-card-title>{{ product.name }}</mat-card-title>
              <mat-card-content>
                <div class="price">總銷量: {{ product.totalSales }}</div>
                <div class="rate">評分: {{ product.rate }}</div>
                <div class="category">分類: {{ product.category }}</div>
              </mat-card-content>
              <mat-card-header>
                <mat-card-subtitle>賣家: {{product.storeName}}</mat-card-subtitle>
                <img mat-card-avatar [src]="product.storeImageUrl"  alt="" (error)="onImageError($event)"/>
              </mat-card-header>
              <mat-card-footer></mat-card-footer>
            </mat-card>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
      <div class="cart-container">
        <app-cart></app-cart>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
