/* product-card.component.css */

/* 设置卡片的基本样式 */
.product-card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 30px;
  text-align: center;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;
  transition: box-shadow 0.3s ease;
  height: 90%;
}
/* 卡片内的标题 */
.product-card h2 {
  font-size: 1.2em;
  margin: 10px 0;
  min-height: 50px; /* 确保标题区域高度一致 */
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 限制标题显示两行 */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal; /* 确保换行 */
}

.product-card:hover {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

/* 弹窗背景 */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* 弹窗内容 */
.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1001;
  text-align: center;
}

/* 关闭按钮 */
.close-button {
  position: absolute;
  top: 10px;
  right: 20px;
  background: none;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
}

/* 图片样式 */
.detail-image {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

/* 价格样式 */
.price {
  font-size: 1.2em;
  vertical-align: bottom;
  margin-top: auto;
}

/* 按钮样式 */
button {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

button:hover {
  background-color: #0056b3;
}
