<div class="customer-container">
  <nav class="navbar">
    <div class="navbar-left">
      <a routerLink="products" routerLinkActive="active">商品</a>
      <a routerLink="new-feature-test" routerLinkActive="active">新功能展示</a>
      <a routerLink="feature-test" routerLinkActive="active">功能測試</a>
    </div>
    <div class="navbar-right">
      <button (click)="editUserInfo()">編輯</button>
      <button (click)="login()">Login</button>
    </div>
  </nav>

  <div class="content">
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
